<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477259986647-3mopq3n5lsn7mggd6l1ctnnapkhlofuf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477259986647-3mopq3n5lsn7mggd6l1ctnnapkhlofuf</string>
	<key>API_KEY</key>
	<string>AIzaSyDkuQuz0r0OObqBD5AcCH-YXQEBLnkLkQE</string>
	<key>GCM_SENDER_ID</key>
	<string>477259986647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kz.ShoppingApp</string>
	<key>PROJECT_ID</key>
	<string>shoppingapp-34b3d</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppingapp-34b3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477259986647:ios:5dd9c1d6a934d3158d2292</string>
</dict>
</plist>